
.overlay {
  background: linear-gradient(90deg, #000, rgba(0, 0, 0, 0));
  height: 50em;
}

.overlayNav {
  background: linear-gradient(30deg, #000, rgba(0, 0, 0, 0));
}


.background1 {
  background-image: url('../public/img/rectangle-21@2x.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100em; */
  height: 50em;
}



@media only screen and (max-width: 480px) {
  .background1 {
    background-image: url('../public/img/Pasted Graphic 9_1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 50em;
  }

  .overlay {
    background: linear-gradient(90deg, #000, rgba(0, 0, 0, 0));
    height: 41em;
  }

  .form__mobile {
    margin-top: 10em;
    background-color: #990000;
    width: 100%;
    height: 23em;
    /* box-shadow: 0 -5px 5px -5px #333; */
    box-shadow: 5px 0 5px -5px #333;
    box-shadow: 0 5px 5px -5px #333;
    /* box-shadow: -5px 0 5px -5px #333; */

    /* box-shadow: 0 0 5px #333; */
    border-radius: 2em;

  }

  .input__mobile {
    background-color: #f1f2f6;
    color: black;
  }

  .btn__mobile {
    background-color: #FFA700;
  }

  .mobile__about {
    margin-top: 19em;
    padding: 45px;
  }

  .btn__three__mobile {
    color: white;
  }
}

/* @media only screen and (min-width: 586px)
{
  .background1{
    background-image: url('../public/img/Pasted Graphic 9_1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 12em;
    
  }
  .overlay{
    background: linear-gradient(90deg, #000, rgba(0, 0, 0, 0));   
     height: 72em;
  }
} */


.box__shadow {

  box-shadow: 0 1px 9px 2px #602828;
}






.step1 {
  width: 52%;
}


@media only screen and (max-width: 480px) {

  .step1 {
    width: 75%;
    height: 11em;
  }

  .step1padd {
    padding: 56px 53px;
  }


  .step2__text {
    width: 5em;
  }
}

.step2 {
  width: 65%;
}


@media only screen and (max-width: 480px) {

  .step2 {
    width: 90%;
    height: 11em;
  }

  .step2padd {
    padding: 58px 111px 57px 35px;
  }

}




.step3 {
  width: 78%;
}


@media only screen and (max-width: 480px) {

  .step3 {
    width: 95%;
    height: 11em;
  }

  .step3padd {
    padding: 58px 111px 57px 35px;
  }
}

.step4 {
  width: 90%;
}

@media only screen and (max-width: 480px) {

  .step4 {
    width: 100%;
    height: 11em;
  }

  .step4padd {
    padding: 58px 111px 57px 35px;
  }
}






/* Testimonials 
  
  */


/** testiomnial section **/

.testimonial-section {
  position: relative;
  background: url('../public/img/rectangle-631@2x.png');
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 78px;
}

.testimonial-section:before {
  position: absolute;
  content: '';
  background: #1e1f22;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.2;
}

.testimonial-section .item {
  padding: 0 20px;

  color: white;
}

.alice-carousel__dots {
  /* margin: 23px 3px 5px; */
  position: relative;
  top: 12px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.sec-padt {
  padding: 44px 0px 9px 0px;
}

@media only screen and (max-width: 523px) {

  .addmission2 {

    position: relative;
    bottom: 12em;

  }
}

.items {
  width: 100%;
  height: 90%;
}

.alice-carousel__wrapper {
  position: relative;
  top: 43px;
}


.testimonial-section {
  position: relative;
  /* background: url(..); */
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 78px;
}

.testimonial-section:before {
  position: absolute;
  content: '';
  background: #1e1f22;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.2;
}

.testimonial-section .item {
  height: 320px;

  padding: 46px 20px;
  background: rgb(99 91 91 / 20%);
  border-radius: 26px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}

@media only screen and (max-width:687px) {

  .testimonial-section .item {
    height: 551px;
    margin: 11px
  }


  .alice-carousel__wrapper {
    position: relative;
    top: 6px;
  }

  .alice-carousel__dots {
    /* margin: 23px 3px 5px; */
    position: relative;
    top: -15px;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .testimonial-para {
    font-size: 18px !important;
  }
}

.testimonial-para {
  position: relative;
  font-size: 19px;
  font-family: 'Lato', sans-serif;
  line-height: 26px;
  font-weight: 400;
  color: #848484;
  margin-bottom: 10px;
  transition: all 500ms ease;
  top: 10px;
}

/* 
@media only screen and (min-width: 960px) {
  .item{
    margin-left: 12em;
    width: 66em;
  }
} */
@media only screen and (min-width: 1370px) and (max-width: 1605px) {

  .item {
    margin-left: 12em;
    width: 66em;
  }

  .testi__center {
    margin-left: -126px;
  }
}





.image2 {
  display: none;
}

.d-block {
  display: block;
}

@media only screen and (max-width: 500px) {
  .image1 {
    display: none;
  }

  .image2 {
    display: block;
  }

  .mobilestyle {
    background-color: #F1EEEE;
  }


}



.input__shadow {
  box-shadow: inset 0 0 6px rgba(38 33 33 /84%)
}



@media screen and (max-width: 995px) {
  /* .faq__width {
    /* width: 66em; */
  

  .similar__school4 {
    height: 16.8em;
  }

  .similar__school2 {
    height: 33.3em;
  }

  .input__mobile {
    background-color: #f1f2f6;
  }

}


/* 
@media only screen and (min-width: 886px) and (max-width: 1265px) {
 .faq__width{
width: 85em;
}

 
 } */

/* @media screen and (min-width: 968px) {
  .faq__width{
    width: 7em;
    }
} */
/* @media only screen and (min-width: 968px){
  .faq__width{
 width: 66em;
 }
  } */




/*   
  @media only screen and (max-width: 768px){
    .faq__width{
   width: 51em;
   } 
    }

    @media only screen and (max-width: 1000px){
      .faq__width{
     width: 67.5em;
     }
     
      
      } */



.faq-row {
  background-color: rgb(255, 255, 255) !important;
  margin-top: 12px;
}